.dashboardMain {
    height: 88vh;
    background-color: antiquewhite;
    overflow-y: scroll;
  }
  
  .tile {
    height: 200px;
    font-size: 32px;
    border: 2px solid #ffffff;
  }
  
  
  .bloodTile {
      height: 100px;
      font-size: 18px;
      border: 2px solid #ffffff;
    }
  