.signup {
  background-image: url("https://st3.depositphotos.com/13349494/17896/i/450/depositphotos_178964958-stock-photo-container-scattered-pills-stethoscope-isolated.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.signupMain {
  height: auto;
  max-height: 100%;
  width: 40%;
  background-color: white;
}

.signupScrollContent {
  overflow-y: scroll;
  height: auto;
  max-height: 55% !important;
}

.pass {
  position: relative;
}

.eyePass {
  position: absolute;
  right: 4%;
  top: 30%;
}
.rememberDiv {
  display: flex !important;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
}
